h3 {
  color: black;
}

/* ---------------------------------------------------------- */
/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  color: white;
  background-image: linear-gradient(rgb(14, 1, 23), rgb(32, 3, 53));
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.menu :link {
  color: white;
}

.menu :visited {
  color: white;
}

.menu :hover {
  color: rgb(255, 140, 0);
}

.menu :active {
  color: rgb(255, 140, 0);

}

.menu li {
  margin-left: 25px;
}

/* ---------------------------------------------------------- */
/* CARD */

.card {
  margin: 15px;
}

/* ---------------------------------------------------------- */
/* FOOTER */

.githubIcon {
  font-size: 25px;
  margin-right: 15px;
}

.githubIcon:link {
  color: white;

}

.githubIcon:visited {
  color: white;
}

.githubIcon:hover {
  color: rgb(255, 140, 0);
}

.githubIcon:active {
  color: rgb(255, 140, 0);
}

.linkedinIcon {
  font-size: 25px;
  margin-right: 15px;
  margin-left: 15px;
}

.linkedinIcon:link {
  color: white;

}

.linkedinIcon:visited {
  color: white;
}

.linkedinIcon:hover {
  color: rgb(255, 140, 0);
}

.linkedinIcon:active {
  color: rgb(255, 140, 0);
}


.footer {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(rgb(32, 3, 53), rgb(14, 1, 23));
  background-size: cover;
  color: white;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footerTitle {
  margin: 15px 40px 15px 15px;
  font-size: 15px;
}

.footerRight {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 15px;
}

/* ---------------------------------------------------------- */
/* ABOUT */

.about {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(91, 88, 88);
  text-align: center;
}

.photo {
  width: 200px;
  border-radius: 50%;
  margin: 20px;

}

.pgAbout {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  color: rgb(86, 83, 83);
}


.tec {
  text-align: center;
  color: rgb(51, 49, 49);
}

/* ---------------------------------------------------------- */
/* Logos */

.logo-area {
  margin-bottom: 100px;
}


.node-logo {
  width: 130px;
  margin: 25px
}

.mongo-logo {
  width: 150px;
  margin: 25px
}

.react-logo {
  width: 80px;
  margin: 25px
}

.mongoose-logo {
  width: 100px;
  margin: 25px
}

.mysql-logo {
  width: 110px;
  margin: 25px
}

.express-logo {
  width: 120px;
  margin: 25px
}

.bootstrap-logo {
  width: 90px;
  margin: 25px
}

.jquery-logo {
  width: 110px;
  margin: 25px
}

.sequelize-logo {
  width: 150px;
  margin: 25px
}

.js-logo {
  width: 60px;
  margin: 25px
}

.html-logo {
  width: 80px;
  margin: 25px
}

.css-logo {
  width: 80px;
  margin: 25px
}

.graphql-logo {
  width: 150px;
  margin: 25px
}

.jest-logo {
  width: 120px;
  margin: 25px
}

.heroku-logo {
  width: 45px;
  margin: 25px;
}

.git-logo {
  width: 60px;
  margin: 25px
}


/* ---------------------------------------------------------- */
/* CONTACT FORM*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  padding: 14px;
  margin-top: 15px;
  margin-left: 30px;

}

.title {
  margin-bottom: 14px;

}

.form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 14px;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  background-color: lightgrey;
}

input::placeholder {
  font-weight: bold;
  opacity: .5;
  color: black;
}

.textarea {
  margin-bottom: 14px;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize: none;
  background-color: lightgrey;
}

textarea::placeholder {
  font-weight: bold;
  opacity: .5;
  color: black;
}

.button {
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: rgb(30, 1, 53);
  font-size: 18px;
  transition: background-color, transform 0.8s;
  color: white;
}

.button:hover {
  background-color: rgb(32, 3, 53);
  color: rgb(255, 140, 0);
  transform: scale(1.01);
}

/* ---------------------------------------------------------- */
/* PORTFOLIO */

.Portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;

}

/* Resume */

.download {
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: rgb(251, 45, 22);
  font-size: 20px;
  transition: background-color, transform 0.8s;
  color: white;
  padding: 10px;
  margin: 30px;
  box-shadow: 5px 10px 8px #888888;
}

.download:hover {
  background-color: rgba(251, 45, 22, 0.849);
  color: white;
  transform: scale(1.01);
}

.resumePg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resumeImg {
  margin-top: 20px;
  margin-bottom: 80px;
  width: 60vw
}

@media screen and (max-width:638px) {
  .footer {
    align-items: center;
    justify-content: center;
  }

  .resumeImg {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 90vw
  }

  .download {
    font-size: 10px;
    padding: 5px;
    margin: 15px;
    box-shadow: 2px 5px px #888888;
  }
}